*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: royalblue;
}

.box{
    height: 300px;
    width: 300px;
    background-color: brown;
}

/* .page1>img{
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
} */